
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.out-of-stock {
    color: red;
    font-weight: bold;
}
/*
@media (min-width: 768px) {  
//PC表示 
    .table {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }
    .table tr {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
    }
}*/
.table {
    width: auto; /* テーブルの幅を自動に設定 */
    max-width: 100%; /* 最大幅を100%に設定 */
    table-layout: fixed; /* 幅の設定を適用 */
    }
    .table td, .table th {
        white-space: nowrap; /* テキストの折り返しを無効にする */
        max-width: 300px;   /* 最大幅を設定 */
        overflow: hidden;    /* オーバーフローした部分を隠す */
        text-overflow: ellipsis; /* テキストがオーバーフローした場合に省略記号を表示 */
    }