{% extends 'base.html' %}

{% block content %}

    <div class="container my-4">
        <h2 class="mb-4">おやつの消費履歴</h2>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>おやつの名前</th>
                        <th>与えた日時</th>
                        <th>個数</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for entry in give_snack_history %}
                    <tr>
                        <td>{{ entry.name }}</td>
                        <td>{{ entry.given_date }}</td>
                        <td>{{ entry.quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
