{% extends 'base.html' %}

{% block content %}
    <h2>登録済みおやつの一覧</h2>
    <table>
        <thead>
            <tr>
                <th>おやつの名前</th>
                <th>アレルギー情報</th>
                <th>在庫数</th>
            </tr>
        </thead>
        <tbody>
            {% for snack in snacks %}
                <tr>
                    <td>{{ snack.name }}</td>
                    <td>{{ snack.allergies }}</td>
                    <td>{{ snack.stock }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
{% endblock %}
