{% extends 'base.html' %}

{% block content %}
    <h2>購入履歴</h2>
    <table>
        <thead>
            <tr>
                <th>おやつの名前</th>
                <th>購入日時</th>
                <th>購入場所</th>
                <th>個数</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase_history %}
                <tr>
                    <td>{{ purchase.name }}</td>
                    <td>{{ purchase.purchase_date }}</td>
                    <td>{{ purchase.purchase_place }}</td>
                    <td>{{ purchase.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
