{% extends 'base.html' %}

{% block content %}
    <h2>在庫確認</h2>
    <table>
        <thead>
            <tr>
                <th>おやつの名前</th>
                <th>アレルギー情報</th>
                <th>在庫数</th>
                <th>写真</th>
            </tr>
        </thead>
        <tbody>
            {% for snack in snacks %}
                <tr>
                    <td>{{ snack.name }}</td>
                    <td>{{ snack.allergies }}</td>
                    <td>{{ snack.stock }}</td>
                    <td>
                        {% if snack.photos %}
                            {% for photo in snack.photos.split(', ') %}
                                <img src="{{ url_for('static', filename=photo) }}" alt="Snack Photo" style="max-width: 100px;">
                            {% endfor %}
                        {% else %}
                            <!-- 写真がない場合、空欄にする -->
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
